.col h1{

    font-family: Amaranth;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 130%;
    
    color: #413960;
    }
    .col p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #7D7791;
    
    }
    .row button{
        display: flex;
    flex-direction: row;
    padding: 13px 57px; 
    
    background: #555DA5;
    border-radius: 10px;
    }
    div h6{
        font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    
    /* identical to box height, or 21px */
    text-align: center;
    
    color: #6255A5;
    
    
    }
    div h3{
        font-family: Amaranth;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 170%;
    
    color: #413960;
    }
    ..row .col h3{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 170%;
    
    /* identical to box height, or 48px */
    
    color: #413960;
    
    
    }